@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './assets/style/_variable.scss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
::-webkit-scrollbar {
  width: 0px;
}
